.bg-login-image{
    background-image: url('https://source.unsplash.com/slRc0JDsMdk/600x800');
}

.bg-password-image{
    background-image: url('https://source.unsplash.com/OHnvp41aDzE/600x800');
}

.bg-register-image{
    background-image: url('https://source.unsplash.com/V3KpDE4WlW8/600x800');
}

.ui-autocomplete{
    background-color: white;
    list-style: outside none none;
    padding: 3px;
    width: 40%;
    min-width: 500px;
    border: 1px solid #d1d3e2;
    border-radius: 4px;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
}

li.ui-menu-item:hover{
    background-color: #0078d7;
    color: white;
    cursor: default;
}

.bootstrap-select > .dropdown-toggle.btn-default{
    border: 1px solid #d1d3e2;
}

.badge.bg-danger, .badge.bg-success, .badge.bg-warning{
    color: white;
}

.alert{
    z-index: 99;
}